<div id="content">
    <div class="data-list">
        <div ng-click="onClick(model)" class="list-item" ng-repeat="model in list" style="padding-bottom: 0">
            <p ng-if="model.Name" ng-bind="getName(model)" style="margin-left: 0"></p>
            <p ng-if="!model.Name" ng-bind="lang.GRAND + ' ' + lang.TOTAL" style="margin-left: 0"></p>
            <small style="font-size: 14px" ng-bind="'RM ' + (model.Data[0].Amount | number: 2)"></small>
            <span jq-sparkline2 ng-model="model.Nums" style="margin-left: 0"></span>
        </div>
    </div>
    <p class="no-data" ng-show="list.length === 0" ng-bind="lang.NOTHING_TO_DISPLAY"></p>
</div>

<detail-pane visible='paneShown'> 
    <span jq-sparkline2 opts="1" ng-model="current.Nums"></span>

    <table class="data">
        <tbody>
            <tr ng-repeat="model in current.Data">
                <td style="text-align: left">
                    <span ng-show="model.Day" ng-bind="model.Day | date: 'd-M-yyyy'"></span>
                    <span ng-show="!model.Day" ng-bind="lang.GRAND + ' ' + lang.TOTAL"></span>
                </td>
                <td style="text-align: right" ng-bind="model.Amount | number: 2">                 
                </td>
            </tr>
        </tbody>
    </table>
</detail-pane>



<modal-dialog visible='modalshown'>
    <p ng-bind="modalbody"></p>
</modal-dialog>


