<div id="content">


    <form name="myForm" ng-submit="submitForm(myForm)" novalidate>
        <table class="form-table-vertical">
            <tr>
                <td>
                    <div class="warning">
                        <i class="icon-alert-circled"></i>
                        <span ng-bind="lang.CHANGE_PWD_NOTE"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Code" ng-bind="lang.USER_ID"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <b ng-bind="current.Code | tel"></b>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CurrentPassword" ng-bind="lang.CURRENT_PASSWORD"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="password" id="CurrentPassword" name="CurrentPassword" ng-model="current.CurrentPassword" required autocomplete="off" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="NewPassword" ng-bind="lang.RESET_PASSWORD"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="password" id="NewPassword" name="NewPassword" ng-model="current.NewPassword" required autocomplete="off" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="ConfirmPassword" ng-bind="lang.CONFIRM_PASSWORD"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="current.ConfirmPassword" compare-check="current.NewPassword" required autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-all" ng-disabled="!myForm.$valid || isDisabled" ng-bind="lang.SUBMIT"></button>
                </td>
            </tr>
        </table>
    </form>
</div>
<modal-dialog visible='modalShown'>
    <p ng-bind="modalBody"></p>
</modal-dialog>

