<div id="content">
    <form ng-show="step == 1" name="myPhone" ng-submit="submitPhone(myPhone)" novalidat>
        <table class="form-table-vertical">
            <tr>
                <td>

                    <div class="warning">
                        <i class="icon-alert-circled"></i>
                        <span ng-bind="lang.FORGOT_PASSWORD_PHONE1"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Phone" ng-bind="lang.FORGOT_PASSWORD_PHONE2"></label>
                </th>
            </tr>
            <tr>
                <td style="position: relative">
                    <input type="tel" id="Phone" name="Phone" ng-model="Phone" required ui-mask="999-999-9999?9" autocomplete="off" />
                    <button type="button" class="icon-close icon-btn" ng-click="truncate()" tabindex="-1"></button>
                </td>
            </tr>
            <tr>

                <td>
                    <button type="submit" class="btn btn-all" ng-disabled="!myPhone.$valid || isDisabled" ng-bind="lang.SUBMIT"></button>
                </td>
            </tr>
        </table>
    </form>

    <form ng-show="step == 2" name="myCode" ng-submit="submitCode(myCode)" novalidate>
        <table class="form-table-vertical">
            <tr>
                <th>
                    <button class="icon-android-arrow-back back-btn" type="button" ng-click="goBack(1)"></button>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="warning">
                        <small class="icon-information-circled"></small>
                        <span ng-bind="lang.FORGOT_PASSWORD_CODE1"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Code" ng-bind="lang.SECURITY_CODE"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="Code" name="Code" ng-model="Code" required autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-all" type="submit" ng-disabled="!myCode.$valid || isDisabled" ng-bind="lang.SUBMIT"></button>
                </td>
            </tr>
        </table>
    </form>

    <form ng-show="step == 3" name="myPassword" ng-submit="submitPassword(myPassword)" novalidate>
        <table class="form-table-vertical">
            <tr>
                <th>
                    <button class="icon-android-arrow-back back-btn" type="button" ng-click="goBack(2)"></button>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="warning">
                        <small class="icon-information-circled"></small>
                        <span ng-bind="lang.FORGOT_PASSWORD_RESET1"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="NewPassword" ng-bind="lang.RESET_PASSWORD"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="password" id="NewPassword" name="NewPassword" ng-model="NewPassword" required autocomplete="off" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="ConfirmPassword" ng-bind="lang.CONFIRM_PASSWORD"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="ConfirmPassword" compare-check="NewPassword" required autocomplete="off" /> 
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-all" type="submit" ng-disabled="!myPassword.$valid || isDisabled" ng-bind="lang.SUBMIT"></button>
                </td>
            </tr>
        </table>
    </form>

    <form ng-show="step == 4">        
        <table class="form-table-vertical">
            <tr>
                <td>
                    <div class="warning">
                        <small class="icon-information-circled"></small>
                        <span ng-bind="lang.FORGOT_PASSWORD_DONE1"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-all" href="#/login" style="text-align: center; padding: 12px 0" ng-bind="lang.LOGIN_NOW"></a>
                </td>
            </tr>
        </table>
    </form>
</div>

<modal-dialog visible='modalShown'>
    <p ng-bind="modalBody"></p>
</modal-dialog>

