<div id="content" class="level-1" style="text-align: right;">
    <div class="search" style="border: none; background: none; padding: 0">
        <select ng-change="fetchData()" ng-model="sourceId" style="max-width: none" required ng-options="o.Id as o.Name for o in members" ng-disabled="isDisabled"></select>
    </div>
    <table class="data">
        <tr class="heading">
            <td style="text-align: left" ng-bind="lang.PRODUCT"></td>
            <td ng-bind="lang.TOP_UP"></td>          
            <td ng-bind="lang.Bonus"></td>
        </tr>
        <tbody> 
            <tr ng-repeat='model in list' ng-class="{'heading': !model.Product }">
                <td style="text-align: left">
                    <span ng-show="model.Product" ng-bind="model.Product"></span>
                    <span ng-show="!model.Product" ng-bind="lang.TOTAL"></span>
                </td>
                <td ng-bind="model.TopUp | number: 2"></td> 
                <td ng-bind="model.Rebate | number: 3"></td>
            </tr>
        </tbody>
    </table>

    <p class="no-data" ng-show="list.length === 0" ng-bind="lang.NOTHING_TO_DISPLAY"></p> 
</div>

<div id="menu">
    <select id="fromFilter" style="max-width: 114px" ng-disabled="isDisabled" ng-model="fromDate" ng-options="item as item.name for item in filters"></select>
    <button class="icon-android-arrow-forward"></button>
    <select id="toFilter" style="max-width: 114px" ng-disabled="isDisabled" ng-model="toDate" ng-options="item as item.name for item in filters"></select>
    <button class="icon-ios-search-strong" title="{{lang.SEARCH}}" ng-click="fetchData()" ng-disabled="isDisabled"></button>
</div>

<modal-dialog visible='modalShown'>
    <p ng-bind="modalBody"></p>
</modal-dialog>

