<div id="content">
    <div class="search">
        <input type="text" ng-model='searchText' autocomplete="off" />
        <span class="icon-search"></span>
        <i ng-bind="filtered.length"></i>
    </div>

    <div class="data-list">
        <div ng-click="onClick(model)" class="list-item" ng-repeat="model in filtered = (list | filter:searchText)">
            <p ng-bind="model.Name"></p>
            <span ng-bind="'RM ' + (model.Balance | number:3)"></span>
            <small ng-bind="model.Code | tel"></small>
            <em ng-bind="model.PriceLevel"></em>
            <div class="icon-check"></div>
        </div>
    </div>
</div>

<div id="ddmenu">
    <button ng-click="add()">
        <i class="icon-add-1"></i>
        <span ng-bind="lang.NEW"></span>
    </button>
    <button ng-click="refreshData()">
        <i class="icon-refresh"></i>
        <span ng-bind="lang.REFRESH"></span>
    </button>
</div>

<modal-dialog visible='modalShown'>
    <p ng-bind="modalBody"></p>
</modal-dialog>

