<div id="content">
    <div class="data-list">
        <div ng-click="onClick(model)" class="list-item" ng-repeat="model in list">
            <p ng-bind="model.Name"></p>
            <span ng-bind="model.Code | tel"></span>
            <em ng-bind="model.LastLoginDate | date: 'd-MM-yyyy h:mm a'"></em>
            <div ng-class="{'icon-check': model.Active, 'icon-exclamation': !model.Active}"></div>
        </div>
    </div>
</div>

<div id="ddmenu">
    <button ng-click="add()">
        <i class="icon-add-1"></i>
        <span ng-bind="lang.NEW"></span>
    </button>
    <button ng-click="refreshData()">
        <i class="icon-refresh"></i>
        <span ng-bind="lang.REFRESH"></span>
    </button>
</div>

 

<modal-dialog visible='modalShown'>
    <p ng-bind="modalBody"></p>
</modal-dialog>

